<!DOCTYPE html>
<html>
<title>등록된 기기 현황</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-margin-bottom" style="background-color: #0D2514; color: white">
<h1>등록된 기기 현황</h1>

</div>

<div class="w3-row-padding ">

<div class="w3-twothird">
  <h2>Device1</h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
  <thead style="background-color: #19411c; color: white"><th style="width:30%">항목</th><th>내용</th></thead>
  <tr><td style="width:30%">MAC주소</td><td>e4:5e:37:ac:e1:a3</td></tr>
  <tr><td>결함 이미지 경로</td><td>/e4:5e:37:ac:e1:a3/failimage/</td></tr>
  <tr><td>결함</td><td>3</td></tr>
  <tr><td>정상</td><td>184</td></tr>
  </table>
  <h2>Device2</h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
    <thead style="background-color: #19411c; color: white"><th style="width:30%">항목</th><th>내용</th></thead>
    <tr><td style="width:30%">MAC주소</td><td>00:04:4b:ec:ac:71</td></tr>
    <tr><td>결함 이미지 경로</td><td>/00:04:4b:ec:ac:71/failimage/</td></tr>
    <tr><td>결함</td><td>1</td></tr>
    <tr><td>정상</td><td>267</td></tr>
  </table>
  <h2>Device3</h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
    <thead style="background-color: #19411c; color: white"><th style="width:30%">항목</th><th>내용</th></thead>
    <tr><td style="width:30%">MAC주소</td><td>02:42:39:10:02:e2</td></tr>
    <tr><td>결함 이미지 경로</td><td>/02:42:39:10:02:e2/failimage/</td></tr>
    <tr><td>결함</td><td>8</td></tr>
    <tr><td>정상</td><td>1053</td></tr>
  </table> 
</div>

<div class="w3-third">
  <h1>Chardonnay</h1>
  <p>Chardonnay is the world's most popular wine grape.</p>
  <p>The taste of the Chardonnay grape is very neutral and easy to like.</p>
  <p>Many of the Chardonnay flavors are derived from terroir and oak-aging.</p>
  <p>The flavors varies from noticeable acidity (Cold Climates), to crisply and mineral (Chablis, France) 
  with flavors of green plum, apple and pear, to heavy oak and tropical fruit flavors (the New World). </p>
  <p>In cooler climates Chardonnay tends to be under-riped. </p>
  <p>In warmer climates the flavors tend to vary from lemon to peach and melon.</p>
  <p>In very warm climates Chardonnay tends to be over-riped.</p>
  <p>Oaked Chardonnay tends to have softer acidity and more fruit flavors with 
  added butter, cream and hazelnut notes.</p>
 </div>

</div>
</body>
</html>
